.main_chat
  .main_chat__group__info
    .main_chat__group__info__left__content
      .main_chat__group__info__group__name
        %p test
      .main_chat__group__info__member__name
        %p Member : name
    .main_chat__group__info__right__content
      = link_to '#' do
        Edit
  .main_chat__message__list
    .main_chat__message__list__contents
      .main_chat__message__list__user__name
        %p name
      .main_chat__message__list__date
        %p 2019/11/20(Wed) 17:43:01
      .main_chat__message__list__message
        %p おはよう！
    .main_chat__message__list__contents
      .main_chat__message__list__user__name
        %p name
      .main_chat__message__list__date
        %p 2019/11/20(Wed) 17:43:01
      .main_chat__message__list__message
        %p おはよう！
    .main_chat__message__list__contents
      .main_chat__message__list__user__name
        %p name
      .main_chat__message__list__date
        %p 2019/11/20(Wed) 17:43:01
      .main_chat__message__list__message
        %p おはよう！
   
  .main_chat__message__form
    .message__form
      .main_chat__input__box
      .main_chat__message__image
    .message__send__btn
        

